body{
    background-image: url("../images/LightWood.jfif")
}

<style>
     h2 {
        font-style: italic
     }
      h2 {
          color: white
     }
            
      li{
          color: white
      }

      li {
         font-size: 30px
      }
      a {
         font-weight: bold
      }
      p {
         font-weight: bold
      }
</style>